    <div class="usa-grid">
      <h2>Data Inventory</h2>
      <p class="usa-font-lead">Selected data related to opportunity.</p>
      <p>This curated data set has been chosen around indicators of opportunity in the hopes that it will help create tools of maximum value.</p>
      <p>We want your feedback! Please suggest additions/modifications to this data set via the <a href="mailto:{{ site.email }}">listserv</a>, <a href="{{ site.repo_url | append: "/issues/" }}">GitHub issues</a>, or by submitting pull requests directly using the "Edit in GitHub" links in each section below. This website belongs to you; improve it at will!</p>

      <br>

  {% include_relative index_includes/data-inventory-provider.html id='federal' group_key='curator' %}

  {% capture sort_strings %}
    {% for p in site.data.data-providers %}
      {{ p[1].name | slugify }}__{{ p[0] }}
    {% endfor %}
  {% endcapture %}
  {% assign sort_strings = sort_strings | split:' ' | sort %}
  {% for sort_string in sort_strings %}
    {% assign sort_string_pair = sort_string | split:'__' %}
    {% assign id = sort_string_pair[1] %}
    {% if id != 'federal' %}
      {% include_relative index_includes/data-inventory-provider.html id=id group_key='topic' %}
   {% endif %}
  {% endfor %}
</div>
