<h2>Data Inventory</h2>
<p class="usa-font-lead">Selected data related to opportunity.</p>
<p>The following data have been selected from federal and local repositories for relevance to the topic of opportunity mobility.</p>
<p>Please feel free to <a href="{{ site.repo_url | append: "/issues/" }}">provide feedback</a> and combine this data with data from other sources to create tools of maximum value.</p>

{% include_relative index_includes/data-inventory-provider.html id='federal' group_key='curator' %}

{% capture sort_strings %}
  {% for p in site.data.data-providers %}
    {{ p[1].name | slugify }}__{{ p[0] }}
  {% endfor %}
{% endcapture %}
{% assign sort_strings = sort_strings | split:' ' | sort %}
{% for sort_string in sort_strings %}
  {% assign sort_string_pair = sort_string | split:'__' %}
  {% assign id = sort_string_pair[1] %}
  {% if id != 'federal' %}
    {% include_relative index_includes/data-inventory-provider.html id=id group_key='topic' %}
  {% endif %}
{% endfor %}
