<h2>User Personas</h2>
<p class="usa-font-lead">Examples of your users.</p>
<p>A team of Presidential Innovation Fellows conducted a series of interviews in various cities with those concerned about opportunitiy in their communities and their own lives.</p>
<p>These are a few of their stories. We'll add more as we go.</p>

{% for persona_hash in site.data.personas %}
{% assign persona = persona_hash[1] %}
<section class="ood-persona">
  <div class="usa-grid-full">

    <div class="usa-width-one-third">
      <section>
        <img class="ood-persona-head"
             src="{{ site.baseurl }}/img/{{ persona.gender }}-silhouette.png"
             alt="Silhouette of a {{ persona.gender }} face">
        <h3 class="ood-persona-name">{{ persona.name }}</h3>
        <p>{{ persona.overview }}</p>
      </section>
    </div>

    <div class="usa-width-one-third">
      <section>
        <h4>Quotes</h4>
        <ul>
          {% for x in persona.quotes %}
            <li>"{{ x }}"</li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <h4>Needs</h4>
        <ul>
          {% for x in persona.needs %}
            <li>{{ x }}</li>
          {% endfor %}
        </ul>
      </section>
    </div>

    <div class="usa-width-one-third">
      <section>
        <h4>Actions {{ persona.name }} is looking to take</h4>
        <ul>
          {% for x in persona.actions %}
            <li>{{ x }}</li>
          {% endfor %}
        </ul>
      </section>

      <section>
        <h4>Goals and Motivations</h4>
        <ul>
          {% for x in persona.goals %}
            <li>{{ x }}</li>
          {% endfor %}
        </ul>
      </section>
    </div>

  </div>
</section>
{% endfor %}
